#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  & > div, main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    & > main {
      justify-content: flex-start;
      align-items: center;
    }
  }
}